absl-py==0.9.0
astor==0.8.1
baselines==0.1.5
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
cycler==0.10.0
Cython==0.29.17
dataclasses==0.7
dill==0.3.1.1
fasteners==0.15
filelock==3.0.12
gast==0.2.2
glfw==1.11.0
google-pasta==0.2.0
grpcio==1.28.1
gym==0.10.11
h5py==2.10.0
horovod==0.19.1
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
loky==2.3.1
Markdown==3.2.1
matplotlib==3.2.1
monotonic==1.5
mpi4py==3.0.3
numpy==1.18.4
opencv-python==4.2.0.34
opt-einsum==3.2.1
Pillow==7.1.2
progressbar2==3.51.3
protobuf==3.11.3
psutil==5.7.0
pycparser==2.20
pyglet==1.5.5
PyOpenGL==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
PyYAML==5.3.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow==2.3.1
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.46.0
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
